JOIN

O Pyspark Join é usado para combinar dois DataFrames e, encadeando-os, você pode juntar vários DataFrames;
Ele suporta todas as operações básicas de tipo de junção disponíveis no SQL tradicional, como INNER< LEFT OUTER, RIGHT OUTER, LEFT ANTI, LEFT SEMI, CROSS, SELF JOIN.

EXEMPLOS:


inner ==> INNER JOIN SQL

outer, full, fullouter, full_outer ==> FULL OUTER JOIN

left, leftouter, left_outer ==> LEFT JOIN

right, rightouter, right_outer ==> RIGHT JOIN

cross

anti, leftanti, left_anti

semi, leftsemi, left_semi

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
import pyspark.sql.functions as F

In [0]:
dados = [
         (1, "Anderson", 1000.00),
         (2, "Kennedy", 2000.00),
         (3, "Bruno", 2300.00),
         (4, "Maria", 2300.00),
         (5, "Eduardo", 2400.00),
         (6, "Mendes", 1900.00),
         (7, "Kethlyn", 1500.00),
         (8, "Thiago", 1800.00),
         (9, "Carla", 2100.00)
]

schema = ["id", "nome", "salario"]

df1 = spark.createDataFrame(data = dados, schema = schema)
df1.printSchema()
df1.display()

id,nome,salario
1,Anderson,1000.0
2,Kennedy,2000.0
3,Bruno,2300.0
4,Maria,2300.0
5,Eduardo,2400.0
6,Mendes,1900.0
7,Kethlyn,1500.0
8,Thiago,1800.0
9,Carla,2100.0

In [0]:
dados2 = [
    (1, "Delhi", "India"),
    (2, "Tamil Nadu", "India"),
    (3, "London", "UK"),
    (4, "Sydney", "Australia"),
    (8, "New York", "USA"),
    (9, "California", "USA"),
    (10, "New Jersey", "USA"),
    (11, "Texas", "USA"),
    (12, "Chicago", "USA")
]
schema2 = ["id", "local", "pais"]

df2 = spark.createDataFrame(data = dados2, schema = schema2)
df2.printSchema()
df2.display()

id,local,pais
1,Delhi,India
2,Tamil Nadu,India
3,London,UK
4,Sydney,Australia
8,New York,USA
9,California,USA
10,New Jersey,USA
11,Texas,USA
12,Chicago,USA

In [0]:
#ELE VERIFICA ALGUM CAMPO EM COMUM NOS DOIS DATAFRAMES E RETORNA OS RESULTADOS

df_inner = df1.join(df2, on=['id'], how='inner')
df_inner.display()

id,nome,salario,local,pais
1,Anderson,1000.0,Delhi,India
2,Kennedy,2000.0,Tamil Nadu,India
3,Bruno,2300.0,London,UK
4,Maria,2300.0,Sydney,Australia
8,Thiago,1800.0,New York,USA
9,Carla,2100.0,California,USA

In [0]:
#RETORNA TODOS OS DADOS DO DATAFRAME DA COLUNA DA ESQUERDA E DA DIREITA

df_outer = df1.join(df2, on=['id'], how='outer')
df_outer.display()

id,nome,salario,local,pais
1,Anderson,1000.0,Delhi,India
2,Kennedy,2000.0,Tamil Nadu,India
3,Bruno,2300.0,London,UK
4,Maria,2300.0,Sydney,Australia
5,Eduardo,2400.0,null,null
6,Mendes,1900.0,null,null
7,Kethlyn,1500.0,null,null
8,Thiago,1800.0,New York,USA
9,Carla,2100.0,California,USA
10,null,null,New Jersey,USA
11,null,null,Texas,USA
12,null,null,Chicago,USA

In [0]:
#RETORNA TODOS OS DADOS DO DATAFRAME DA COLUNA DA ESQUERDA E OS REGISTROS QUE FAZEM MATCH

df_left = df1.join(df2, on=['id'], how='left')
df_left.display()

id,nome,salario,local,pais
1,Anderson,1000.0,Delhi,India
2,Kennedy,2000.0,Tamil Nadu,India
3,Bruno,2300.0,London,UK
4,Maria,2300.0,Sydney,Australia
5,Eduardo,2400.0,null,null
6,Mendes,1900.0,null,null
7,Kethlyn,1500.0,null,null
8,Thiago,1800.0,New York,USA
9,Carla,2100.0,California,USA

In [0]:
#RETORNA TODOS OS DADOS DO DATAFRAME DA COLUNA DA DIREITA E OS REGISTROS QUE FAZEM MATCH

df_right = df1.join(df2, on=['id'], how='right')
df_right.display()

id,nome,salario,local,pais
1,Anderson,1000.0,Delhi,India
2,Kennedy,2000.0,Tamil Nadu,India
3,Bruno,2300.0,London,UK
4,Maria,2300.0,Sydney,Australia
8,Thiago,1800.0,New York,USA
9,Carla,2100.0,California,USA
10,null,null,New Jersey,USA
11,null,null,Texas,USA
12,null,null,Chicago,USA

In [0]:
#RETORNA TODOS OS DADOS DO DATAFRAME DA COLUNA DA ESQUERDA QUE NÃO ESTÃO PRESENTES NO DATAFRAME DA DIREITA

df_left_anti = df1.join(df2, on=['id'], how='left_anti')
df_left_anti.display()

id,nome,salario
5,Eduardo,2400.0
6,Mendes,1900.0
7,Kethlyn,1500.0

In [0]:
#RETORNA TODOS OS DADOS DO DATAFRAME DA COLUNA DA ESQUERDA QUE POSSUAM CORRESPONDÊNCIA COM O DATAFRAME DA DIREITA

df_left_semi = df1.join(df2, on=['id'], how='left_semi')
df_left_semi.display()

id,nome,salario
1,Anderson,1000.0
2,Kennedy,2000.0
3,Bruno,2300.0
4,Maria,2300.0
8,Thiago,1800.0
9,Carla,2100.0

In [0]:
#RETORNA TODOS OS DADOS DO DATAFRAME DA COLUNA DA ESQUERDA E DA DIREITA

df_full = df1.join(df2, on=['id'], how='full')
df_full.display()

id,nome,salario,local,pais
1,Anderson,1000.0,Delhi,India
2,Kennedy,2000.0,Tamil Nadu,India
3,Bruno,2300.0,London,UK
4,Maria,2300.0,Sydney,Australia
5,Eduardo,2400.0,null,null
6,Mendes,1900.0,null,null
7,Kethlyn,1500.0,null,null
8,Thiago,1800.0,New York,USA
9,Carla,2100.0,California,USA
10,null,null,New Jersey,USA
11,null,null,Texas,USA
12,null,null,Chicago,USA

In [0]:
#RETORNA TODOS OS DADOS DO DATAFRAME DA COLUNA DA ESQUERDA QUE NÃO POSSUEM NENHUMA CORRESPONDÊNCIA COM O DATAFRAME DA DIREITA

df_anti = df1.join(df2, on=['id'], how='anti')
df_anti.display()

id,nome,salario
5,Eduardo,2400.0
6,Mendes,1900.0
7,Kethlyn,1500.0